body {
    margin-top: 20px;
    margin-bottom: 570px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    font-size: 19px;
    background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
}

.GridviewStyle1, GridviewStyle2 {
    margin: 30px;
    border-radius: 60px;
    font-family: 'Roboto Mono', monospace;

}

.TxtSearchSvar, .TxtSearch {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    margin-top: 20px;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #000;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.ButSearchDeltaker, .ButSearchSvar {
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    bottom: 0px;
    height: 30px;
    margin-top: 10px;
    margin-left: 22px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    box-shadow: 60px 60px 60px rgba(0,0,0,0.2);
}